  
          .selectnav {
	display: none;
	cursor: pointer;
	width: 100%;
	padding: 8px;
	height: 37px;
	float: left;
	font-size: 14px;
	margin: 15px 0;
}

#navigation {
	background: #303030;
	display: block;
	width: 100%;
	float: left;
	max-height: 52px;
	margin: 0 0 15px 0;
}

#navigation ul,
#navigation li {
	list-style:none;
	padding:0;
	margin:0;
	display:inline;
}
#navigation ul li{
	float:left;
	position:relative;
}

#navigation ul li a { 
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 17px 25px;
	background: url(../images/navigation-divider.png) no-repeat right 50%;
}

#navigation ul li a:hover {
	background: #72b626;
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#navigation ul ul {
	position: absolute;
	display: none;
	top: 51px;
	left: 0;
	background: #303030;
	z-index: 999;
}

#navigation ul ul li a {color: #aaa;}
#navigation ul ul li a:hover {
	color: #fff;
}

#navigation ul ul li a {
	display: block;
	width: 150px;
	margin: 0;
	padding: 9px 18px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	border-bottom: 1px solid #404040;
	background: none;
}

#navigation ul ul ul { 
	position: absolute; 
	top:0px; 
	left:100%; 
	z-index: 999;
}

#navigation ul ul ul li a { 
	border-bottom: 1px solid #404040 !important;
	border-top: 1px solid transparent;
	background: none;
}

#navigation ul ul li:last-child a, #navigation ul ul li:last-child a:hover {border-bottom: 1px solid transparent}
#navigation ul ul ul li:last-child a {border-bottom: 1px solid transparent !important}
#navigation ul li:hover>ul {opacity: 1; position:absolute; top:99%; left:0;}
#navigation ul ul li:hover>ul {position:absolute; top:0; left:100%; opacity: 1; z-index:497;}
#navigation ul li:hover > a {background: #72b626;}
#navigation ul ul li:hover > a {color: #fff;}

			margin-bottom-20 {margin-bottom: 20px;}
.col-sm-4 {padding: 0 10px 10px 10px;}
.la_post_list{
    border: 1px solid #E1E1E1;
    border-radius:4px;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
.font1{line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 */;}
.la_post_list_map{border: 1px solid #F90;border-radius:4px;}/*- 首頁圖框變色 -*/
.la_postdate {
    position: absolute;
    font-size: 0.8em;
    left: 50px;
    bottom: 5px;
    color: #797979;
    text-align: center;
}
.la_post_list .inner{padding: 0 0.3em 1em 0.3em;}
.la_post_list .inner h2{font-size: 1em;}
.la_post_list .inner .a1{color: #696969;}
.la_post_list .inner .spn1{padding-bottom: 1.3em;}
.la_post_list .inner .spn2{padding-bottom: 1.3em;}
.category {
  border-bottom:1px solid #DDD;margin-bottom:10px;padding-bottom:10px;height:15px;font-size:13px
 
}