#header_test {
 
    font-size: 20px;
  border-color:#e7e7e7;
  
    height: 35px;
    width: 350px;
}
#k1
	{
		visibility: hidden;
		left:<?php echo ($row_vertical_end['x_position']+25) ?>px;
		top:<?php echo ($row_vertical_end['y_position']) ?>px;
		width:50px;
		height:50px;
		background:red;
		position:absolute;
		animation-name:vertical_move;
		animation-duration:<?php echo ($vertival_motion)*0.5 ?>s;
		animation-timing-function:linear;


		animation-direction:alternate;
		animation-play-state:running;

		/* Safari and Chrome: */
		-webkit-animation-name:vertical_move;
		-webkit-animation-duration:<?php echo ($vertival_motion)*0.5 ?>s;
		-webkit-animation-timing-function:linear;

		-webkit-animation-direction:alternate;
		-webkit-animation-play-state:running;
		-o-animation-name:vertical_move;
		-o-animation-duration:<?php echo ($vertival_motion)*0.5 ?>s;
		-o-animation-timing-function:linear;

		-o-animation-iteration-count:infinite;
		-o-animation-direction:alternate;
		-o-animation-play-state:running;
	}