@import url(http://fonts.googleapis.com/css?family=BenchNine:400);

/* slider
----------------------------------------------------------*/
.slider {
    border: 1px solid #E1E1E1;
    border-radius:4px;
    padding: 5px;
}

.slide > * {
    max-width: 100%;
}
.slider .slide-prev , .slider .slide-next{
    cursor: pointer;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    background-color: rgba(255,255,255,0.8);
    padding: 0px;
	opacity: 0.8;
}
.slider .slide-prev  {
	left: 0;
}
.slider .slide-next  {
	right: 0;
}
.slider .slide-prev:before, .slider .slide-next:before {
	display: block;
	width: 48px;
	height: 48px;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
    font-family: 'BenchNine', sans-serif;
    position: absolute;
}
.slider .slide-prev:before {
	content:"<"; 
}
.slider .slide-next:before {
    left: 3px;  /* for better central alignment */
	content:">"; 
}
.slider .slide-next:hover, .slider .slide-prev:hover {
    background-color: rgba(255,255,255,0.9);
}