/*========================================
Default values are with a mobile-first perspective
======================================

Project: responsive mobile-first navigation bar;
Author: Brandon Dail;
Copyright: MIT;
Max-usefullness: minimal;

*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/*      Navigation Bar
==============================*/

#m_nav_container {
    width: 100%;
    padding: 0.5em;
    background-color: #feffdd;
    position: fixed;
    display: none;
    /*	opacity: 0;*/
    top: 0px;
}
#m_nav_bar {
    width: 80%;
    margin: auto;
}
#m_nav_list {
    list-style: none;
}
#m_nav_list li {
    margin-top: 15px;
    padding: 0 0 0 1em;
}
#m_nav_list li  a {
    text-decoration: none;
    color: #333;
    font-size: 1.0em;
    font-family: 'Bree Serif', serif !important;
    -webkit-transition-duration: 0.5s;
}
.m_nav_item a:hover {
    color: tomato;
}
/*  Navigation Hamburger Icon
==============================*/

/*icon container*/
#m_nav_menu:before {
        content: "MENU";
        color: #af0101;
}
#m_nav_menu {
    width: 45px;
    height: 45px;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 10px;
    right: 20px;
    z-index: 3;
}
/*class applied to create the lines*/

.m_nav_ham {
    width: 35px;
    height: 5px;
    background: #af0101;
    margin: 5px auto;
}
.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}
.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}
.m_nav_ham_3_open {
    opacity: 0;
}
/*==============================*/
/*classes used to change the button's format based on jquery toggle
In future releases this will be used to animate the m_nav_ham divs to form 
an X*/

.button_open {
    background: #333;
    /*	-webkit-transform: rotate(45deg);*/
}
.button_closed {}

/*classes for jQuery function*/

.container_open {
    position: fixed !important;
    display: block;
    border: 1px solid #E1E1E1;border-radius:4px;
}
/*==============================*/
/*Media query for all non-mobile devices*/
@media screen and (min-width: 780px) {
    /*Nav bar media queries!*/
    #m_nav_container {
        text-align: left;
        height: 120px !important;
    }
    .m_nav_item {
        display: inline;
        line-height: 100px;
        margin-right: 50px;
    }
    .m_nav_item a {
        margin-top: 10px;
        font-size: 1.2em;
    }
    #m_nav_item_1 {
        margin-left: 5px;
    }
    #m_nav_menu:before {
        content: "MENU";
        color: white;
    }
    /*wrapper media queries*/
    .open_wrapper {
        top: 130px !important;
    }
}