/*--設定每個css沒有間距--*/
html,body,div,span,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}
html,
body{height: 100%;font-family:"微軟正黑體","Microsoft Jhenghei",Arial,sans-serif;font-size: 16px;}
/* body{height: 100%;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 1.0em;} */

/* 連結變換 */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* 平版吋以下手機 */
@media only screen and (max-width: 765px) {
.desktop {display: none;}
.navbar-default {background-color: #F8F8F8 !important;border-color: #E7E7E7 !important;}
#header-wrapper{background-image:url(../img/logo_backg2.png); background-repeat: no-repeat;background-position: center center;background-size: cover;}/*背景*/
} 
/*---若瀏覽區域的寬度大於 641 像素，則下方的CSS描述就會立即被套用---*/
@media only screen and (min-width: 765px){
.mobile {display: none;}
#header-wrapper{background-image:url(../img/logo_backg.jpg); background-repeat: no-repeat;background-position: center center;background-size: cover;}/*背景*/
}
/*********************************************************************************/
/* Header Nav                                                                    */
/*********************************************************************************/
#header{position: relative;}
.navbar{margin-bottom: 0px;}
.navbar-default {background-color: transparent;border-color: transparent;}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/
#wrap{min-height: 100%;
      height: auto;
      /* negative indent footer by its heigth*/
      margin: 0 auto -60px;
      /* pad bottom by footer height*/
      padding: 0 0 60px;}
#header-nav{padding: 0 0 0.1em 0;background:#020202;}
#header-wrapper{padding: 0 0 0.1em 0;}

#banner-wrapper{padding: 0 0 0.5em 0;}
#features-wrapper{padding: 0 0 0.5em 0;}
#main-wrapper{padding: 0 0 0.5em 0;}
#footer-wrapper{}
/*********************************************************************************/
/* 尾*/
/*********************************************************************************/
/*  下選單 */
.fot_m{background-color:#333333;color:#ffffff;position:fixed; bottom: 0px;width: 100%}
.fot_m .nav_m{font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
.fot_m .nav_m li{width: 50%;float: left;line-height: 2em;padding-left: 1em;}
.fot_m .nav_m a{color: #fff;font-size: 1em;font-weight: 600;border-radius: 3px;
  padding: 0.3em;}
.fot_m .nav_m ul li:hover{}
.fot_m .nav_m ul li:hover a{background:#F4F1E8;color:#020202;}
.fot_m .nav_m ul li.active{}
.fot_m .nav_m ul li.active a{background:#F4F1E8;color:#020202;}
.fot_m .nav_m ul li{border-right:#F4F1E8 1px solid; }
/*  滑動至最上面 */
#gott {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: url('../img/arrow.png') no-repeat scroll 0% 0% transparent;
    cursor: pointer;
    height: 64px;
    width: 64px;
}
.footer{background-color:#0d2d45;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;padding:1em 1em 3em 1em;color: #f7f0f0;}
.footer .fonts{font-size: 1em; /* 設定文字大小 */line-height: 32px;/* 設定文字行距 */letter-spacing: 1px;/* 設定文字間距 */color: #edeae7;}
.footer a{color: #edeae7;}
.footer .spn1{padding-bottom: 1.1em;}
.footer .img2{margin: 0px auto;}
.footer ul li{float: left;line-height: 2.5em;padding-left: 0.5em;}
.footer ul li a{color: #ffffff;}

/*********************************************************************************/
/**** 活動   ***/
/*********************************************************************************/
	.readmore{
  position: relative;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius : 3px;
  text-align: center;
  width: 120px;
  height: 35px;
  transition-duration: 0.25s;
  cursor:pointer;
  padding-top: 8px;
  letter-spacing: 1px;
}
.readmore:hover{
  color: white;
  background-color: #333;
  letter-spacing: 2px;
  
}
/* 平版吋以下手機 */
@media only screen and (max-width: 765px) {
.desktop20 {width:40%;padding:0px}
.desktop_1 {margin-top:70px}
.desktop_3{height:450px}
.navbar-default {background-color: #F8F8F8 !important;border-color: #E7E7E7 !important;}
.progress-button {
	position: relative;
	display: inline-block;
	
	outline: none;
	border: none;

	

	letter-spacing: 1px;

	 border-radius: 2px;
	font-family: Microsoft JhengHei;
    background: #B02B23;
    color: #fff;
    padding: 10px 6px;
    font-size: 20px;
    font-weight: 500;
}
.progress-button :valid {
	 background-color: #4CD964;
}
.for_mobile {display: none;}
} 
@media only screen and (min-width: 765px) {

.latest1{
		padding: 0 0 12.5em 0;}

}
/*---若瀏覽區域的寬度大於 641 像素，則下方的CSS描述就會立即被套用---*/


/* 側欄 */
.progress-button {
	position: relative;
	display: inline-block;
	
	outline: none;
	border: none;

	

	letter-spacing: 1px;

	 border-radius: 2px;
	font-family: Microsoft JhengHei;
    background: #B02B23;
    color: #fff;
    padding: 10px 6px;
    font-size: 20px;
    font-weight: 500;
}
.progress-button :valid {
	 background-color: #4CD964;
}
/*********************************************************************************/
/* 文章相關css */
.latestpic{
 border:1px solid #000; width:850px; height:440px;overflow:hidden
 } 
.latestpic img{
max-width:300px;_width:expression(this.width > 850 ? "850px" : this.width);
} 

.indexpic{ border:1px solid #000; width:850px; height:140px;overflow:hidden} 
.indexpic img{max-width:300px;_width:expression(this.width > 850 ? "850px" : this.width);} 

.loadingpic{ border:1px solid #000; width:50px; height:40px;overflow:hidden} 
.loadingpic img{max-width:300px;_width:expression(this.width > 50 ? "50px" : this.width);} 

.title_style{font-size: 35px;line-height: 35px;letter-spacing: 2px;margin-top:50px} 
.edit_style{font-size: 18px;line-height: 35px;letter-spacing: 3px;} 
.comment_style{font-size: 18px;line-height: 35px;letter-spacing: 3px;} 



/*********************************************************************************/
/* 搜尋bar css */
       #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }