/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo{
			float: left;
			margin: 0 0.35em 0 0;
			padding: 0em 0.2em 0.25em 0.2em;
			font-size: 3.25em;
			letter-spacing: 0.05em;
}
#logo span{
			line-height: 4.5em;
			letter-spacing: 0.025em;
			font-size: 0.9em;
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#top-bar{
	 width:100%;
	 height:50px;
	 background:#fff;
	 position:fixed;
	 top:-65px;
     border-bottom: 1px solid #E1E1E1;
     border-radius:3px;
}
#top-bar #menut{width:900px; margin:0 auto; line-height:50px;}
#top-bar ul{}
#top-bar ul li{float: left;line-height: 2.5em;padding-left: 0.5em;}
#top-bar ul li a{color: #696969;}

#nav{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0.9em;
        margin-top: 0em;
	}	
#nav ul{}
#nav ul li{float: left;line-height: 2.5em;padding-left: 0.5em;}
#nav ul li a,
#nav ul li span{
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #696969;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 0.5em 0.5em 0.5em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
}
#nav ul li > ul{display: none;}
#nav ul li:hover{}
#nav ul li:hover a,
#nav ul li:hover span{background: #fff;}
#nav ul li.active{}
#nav ul li.active a,
#nav ul li.active span{background: #fff;}
#nav ul li.current{}
#nav ul li.current a{background: #444;color: #fff;}

/*********************************************************************************/
/*features 特點*/
/*********************************************************************************/
#features-wrapper {padding: 3em 0px;}
.la_post_list{
    border: 1px solid #E1E1E1;
    font-size: 0.9em;
    padding: 0;
    float: left;
}
.la_post_list_map{border: 1px solid #F90;}/*- 首頁圖框變色 -*/
.la_postdate {
    position: absolute;
    font-size: 12px;
    left: 55px;
    bottom: 0px;
    width: 160px;
    color: #555;
    text-align: center;
}
.la_post_list .inner{padding: 1em 0 1em 0;}
.la_post_list .inner h2{font-size: 1em;}
.la_post_list .inner .a1{color: #696969;}
.la_post_list .inner p{margin: 0;}
.la_post_list .inner .spn1{padding-bottom: 1.3em;}
.la_post_list .inner .spn2{padding-bottom: 1.3em;}