/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo{float: left;margin: 6px 10px 6px 50px;padding: 1em 0.2em 1em 0.2em;}
#logo2{right: 200px;position: absolute;position: absolute;top:30px;margin: 5em 2.5em 0 0;}
#logo_mob{left:0px;margin: 6px 0 5px 0;padding: 0 0.2em 0 0.2em;}
#logo_mob img{text-align:left;}
.top_bar{
    /*- 右邊較粗標題 -*/
    margin-top:1em;/*- 邊界 -*/
    padding: 0.3em;
    width: 100%;
    letter-spacing: 0.1em;
    float: left;
    border:#020202 2px solid; 
    overflow: hidden;
    border-radius: 3px;
}
.top_bar .font1{color: #ff0000;font-size:1.3em;}
.top_bar .font2{padding:0.3em 1em 0.3em 1em;}
.top_bar .font3{padding:0.2em 0 0 0;}
.top_bar a{color: #494949;text-align: center;}
.top_bar .read2{float: left;}
.top_bar .read2 img {width: 53px;}
.top_bar .read3{float: left;width: 100%;}
.top_bar .spen1{padding-right: 1em;}
.top_bar1 {}
.top_bar1 .read4{position: absolute;right:0px;}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#top-bar{
     padding-bottom:0.5em;
	 width: 100%;
     background-image: url(../img/line_nav01.png);
	 /* background: #fff; */
	 position:fixed;
	 top:-65px;
	 /* CSS3 陰影 */

}
#top-bar #menut{margin:0.5em 0 0.5em 0;border: 1px solid #dedede;border-radius:3px;}
#top-bar ul{}
#top-bar ul li{float: left;line-height: 2.5em;}
#top-bar ul li a{color:#020203;}
.topbar_foot{padding-right: 15px;padding-left: 0;}
.topbar_foot .nav > li > a {color: #020202;padding:0;}
.topbar_foot .nav .mread{padding:0.8em 0.3em 0.3em 0.3em;}
.topbar_foot .nav .mimg{padding:0.5em 0 0.1em 0.4em;}
/*********************************************************************************/
/* header-nav bar */
/*********************************************************************************/
.top_bar2 {height:2em;position: relative;}
.top_bar2 .read5{position: absolute;right:1.3em;letter-spacing:5px;}
.top_bar2 .read5 .none1{background:none;color:none;}
.top_bar2 .read6{position: absolute;letter-spacing:5px;}
.top_bar2 .read6 .none1{background:none;color:none;}
.top_bar2 ul{}
.top_bar2 ul li{float: left;line-height:2em;padding-left:0.5em;}
.top_bar2 ul li a{color:#fff;font-size:0.9em;font-weight: 800;border-radius:3px;padding:0.3em;}
.top_bar2 ul li:hover{}
.top_bar2 ul li:hover a{background:#F4F1E8;color:#020202;}
.top_bar2 ul li.active{}
.top_bar2 ul li.active a{background:#F4F1E8;color:#020202;}
/*********************************************************************************/
/* Header Nav                                                                    */
/*********************************************************************************/
.headnav {background-color:#fbfbfb; margin-bottom: 15px;}
.headnav .font1{letter-spacing: 3px;font-size:1.2em;}
.headnav .font1 .libar{padding:0 5px 0 5px;border-right:2px #020202 solid;}
.headnav .h_nav{border-width:9px; border-bottom-style:solid;border-radius:1px;}
.headnav .hea_bar ul li{float: left; line-height: 2.5em;}
.headnav .hea_bar ul li a{color:#020202;font-size:0.9em;font-weight: 800;border-radius:1px;}
.headnav .hea_bar ul li a:hover {color:#fff;background-color: #ff0000;}
/*********************************************************************************/
#nav{
		position: absolute;
		right: 15px;
		top: 0;
		font-size: 0.9em;
        margin-top: 2em;
	}	
#nav ul{}
#nav ul li{float: left;line-height: 2.5em;padding-left: 0.5em;}
#nav ul li a,
#nav ul li span{
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #020203;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 0.5em 0.5em 0.5em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
}
#nav ul li.current{}
#nav ul li.current a{background: #444;color: #fff;}
/*********************************************************************************/
.navbar {min-height: 0;}
.navbar-default {}
.navbar-default .navbar-collapse{padding-right: 15px;padding-left: 0;}
.navbar-default .navbar-nav > li > a {color: #020202;padding:0;}
.navbar-default .navbar-nav .mread{padding:0.8em 0.3em 0.3em 0.3em;}
.navbar-default .navbar-nav .mimg{padding:0.5em 0 0.1em 0.4em;}

.navbar-default .navbar > ul > li:hover {}
.navbar-default .navbar > ul > li:hover a{background:#f20025;color:#ffffff;}
.navbar-default .navbar > ul > li .active{}
.navbar-default .navbar > ul > li .active a{background:#0ac6ff;color:#020202;}
/*********************************************************************************/
/*Banner 大圖*/
/*********************************************************************************/
.abgne-news-scroll a img {border: none;max-width: none;}
.abgne-news-scroll {width: 100%;height: 285px;position: relative;overflow: hidden}
.abgne-news-scroll ul, li {margin: 0;padding: 0;list-style: none;}
.abgne-news-scroll ul {position: absolute;margin: 0;}
.abgne-news-scroll li {clear: left;padding: 0px;height:133px;}
.abgne-news-scroll li a {float: left;color:#696969;}
.abgne-news-scroll li a img {border-radius:4px;}
.abgne-news-scroll li div {float: left;width: auto;margin-left: 0px;font-size: 12px;}
/*********************************************************************************/
/*index features 特點*/
/*********************************************************************************/
.margin-bottom-20 {margin-bottom: 20px;}
.font1{line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 */;}
.home_list{}
.home_list .font2{font-size: 1.2em;letter-spacing:0.2em;text-align:left;color: #ffffff;line-height:2.5em;}
.home_list .font2bar{background-image: url('../img/bar1.gif');border-radius:1px;}
.home_list .font2bar .ri{float:right;}
.home_list .font3{font-size: 0.8em;letter-spacing:0.2em;text-align:right;color: #ffffff;line-height:1.7em;}
.home_list .spn1{padding-bottom: 1.3em;}
.home_list .spn2{padding-bottom: 1em;margin-top: 0em;padding:0}
.home_list .spn3{padding-top:0.5em;}
.home_list .spn4{margin-bottom:0.5em;}
.home_list .spn2 button{background-color: #c80000;border-color: transparent;}
.home_list .spn2 .button1{background-color:none;padding:0.5em 1em 0.5em 1em;}
.home_list .spn2 .btnton2{padding:0.5em 2em 0.5em 2em;}
.home_list .hline{margin-bottom:0.5em;padding:0.4em;border:1px solid #E1E1E1;border-radius:4px;}
.home_list .hline2{margin-bottom:0.5em;border-bottom-style:solid;}
.home_list .sider_clr{padding-left:0px;padding-right:0px;}
.home_list .sider_clr .font9{font-weight:600;font-size: 0.9em;letter-spacing:1px;line-height:1.7em;color:#020202;}
.home_list .sider_clr .img1{width:150px;display:block; margin:auto;}
.home_list .sider_clr .img2{margin: 0px auto;}
.home_list .sider_clr .fbb{text-align:left;padding-left:0.5em;}
.home_list .sider_clr .fbb .font10{font-weight: 400;font-size: 1em;color: rgb(151, 151, 151);padding:0 0 0.5em 0; }
.home_list .carousel-control.left {background-image: none !important;}
.home_list .carousel-control.right {background-image: none !important;}
.home_list .abou{text-align:left;}
.home_list .abou .img1{display:block; margin:auto;}
.home_list .abou .font4{font-weight:600;font-size:2em;text-align:left;color:#88bb00;line-height:0.5em;}
.home_list .abou .font5{font-weight:600;font-size:1.6em;text-align:left;color:#88bb00;line-height:1.2em;}
.home_list .abou .font6{font-weight:bolder;font-size:1.6em;text-align:left;color:#020202;line-height:1.5em;}
.home_list .font7{font-size:1.3em;text-align:left;color:#020202;line-height:1.5em;letter-spacing:0.1em;}
.home_list .font8{font-size:1em;text-align:left;color:#020202;line-height:1.5em;letter-spacing:0.1em;}
.home_list .input15{width:150px; height:35px;margin:0 0 0.8em 0;padding-left:5px;}
.home_list .input20{width:200px; height:35px;margin:0 0 0.8em 0;padding-left:5px;}
.home_list button{background-color: #676767; color: #fff;}
.home_list .button1{background-color:none;padding:0.5em 1em 0.5em 1em;}
.home_list table .libar{padding:0 5px 0 5px;border-right:2px #020202 solid;}
.home_list table a{color:#020202;font-size:0.9em;font-weight: 800;border-radius:1px;}
.home_list table a:hover {color:#fff;background-color: #ff0000;}
/*********************************************************************************/
.la_post_list{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
    border-radius:4px;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
.la_post_list .col-sm-4 {padding: 0 10px 10px 10px;}
.la_post_list .title2{margin-bottom:0.5em;padding:0.5em;border-bottom:1px solid #E1E1E1;}
.la_post_list_map{border: 1px solid #777;border-radius:4px;}/*- 首頁圖框變色 -*/
.la_postdate {
    position: absolute;
    font-size: 0.8em;
    left: 50px;
    bottom: 5px;
    color: #797979;
    text-align: center;
}
.la_post_list img{display:block; margin:auto;}/* 圖置中 1  */
.la_post_list .inner{padding: 0 0 1em 0;}
.la_post_list .inner img{max-width: 165px;}/* 圖 */
.la_post_list .inner .a1{color: #020202;font-size:14px;}
.la_post_list .inner .spn5{margin-bottom: 0.8em;}
.la_post_list .inner .font9{font-weight:600;font-size:1em;text-align:left;color: #020202;}
.la_post_list .inner .font10{font-weight:600;font-size:1.9em;letter-spacing:0em;color: #ca0000;}
.la_post_list .inner .spn2{padding-bottom: 0.8em;}
.la_post_list .inner .title{height:50px;overflow:hidden;margin-bottom:0.8em;padding:0 0.8em 0 0;text-align:left;}
.la_post_list .inner .title .font11{font-size:1.2em;line-height:1.2em;}
.la_post_list .inner .title1{overflow:hidden;}
/*********************************************************************************/
/*Category ,text-align:justify->左右齊行*/
/*********************************************************************************/
.category_list{}
.category_list .hline{border: 1px solid #E1E1E8;padding: 9px 14px; margin:0 0 10px;border-radius: 5px;}
.category_list a{color: #313131;}
.category_list img{top:0;left:0;right:0;bottom:0;margin:auto;max - height:100 %;max - width:100 % ;}/* 圖置中 2  */
.category_list .title2{margin-bottom:0.5em;padding:0.5em 0.5em 0.3em 0.5em;border-bottom:1px solid #E1E1E1;}
.category_list .font2{font-size: 1.5em;font-weight:800;letter-spacing:0.2em;text-align:left;}
.category_list .font3 {padding-left:0.5em;font-size: 0.7em;}
.category_list .font4{font-size: 1.2em;font-weight:600;letter-spacing:0.2em;text-align:left;color: #ffffff;line-height:1.7em;}
.category_list .font4bar{background-image: url('../img/bar1.gif');border-radius:4px;}
.category_list .font5{font-size: 1.2em;font-weight:600;letter-spacing:0.2em;text-align:left;line-height:1.7em;color:#333333;}
.category_list .font6{font-size: 1.2em;font-weight:600;letter-spacing:0.2em;text-align:left;line-height:1.7em;color: #ffffff}
.category_list .font5bar{background-image: url('../img/bar1.gif');border-radius:1px;}
.category_list .font5bar{padding:3px;border-bottom:1px #e1e1e1 solid;}
.category_list .spn3 {padding-top:0.8em;}
.category_list .list2{margin:0;padding:0.5em;font-size:0.9em;}
.category_list .listcate{margin:0;border:1px solid #E1E1E1; border-radius:4px;}
.category_list .font1{line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 */;}
.category_list .inner{padding:0.3em;}
.category_list .inner img{max-width: 165px;}/* 圖 */
.category_list .inner .font9{font-weight:600;font-size:1em;text-align:left;color: #020202;}
.category_list .inner .font10{font-weight:600;font-size:1.9em;letter-spacing:0em;color: #ca0000;}
.category_list .inner .a1{color: #696969;}
.category_list .inner .spn1{padding-bottom: 1.3em;}
.category_list .inner .spn2{padding-bottom: 0.8em;}
.category_list .inner .title{height:50px;overflow:hidden;margin-bottom:0.8em;padding:0 0.8em 0 0;text-align:left;}
.category_list .inner .title .font11{font-size:1.2em;line-height:1.2em;}
.category_list button{background-color: #c80000;border-color: transparent;}
.category_list .btnton2{padding:0.5em 2em 0.5em 2em;}
.category_list .sider_clr{padding-left:0px;margin-top: 2.6em;}
.category_list .sider_clr .img1{width:150px;display:block; margin:auto;}
.category_list .sider_clr .spn4{padding-top:0.6em;}
.category_list .sider_clr .fre{padding:15px 5px 5px 5px;background-color:#f4f4f4;border-radius: 4px;}
.category_list .sider_clr .fbb{text-align:left;padding-left:0.5em;}
.category_list .sider_clr .fbb .font10{font-weight: 400;font-size: 1em;color: rgb(151, 151, 151);padding:0 0 0.5em 0; }
/*********************************************************************************/
.page_list{margin:0 0em 1em 0;padding:1px;}
.page_list .hline{border: 1px solid #E1E1E8;padding: 9px 14px; margin:0 0 10px;border-radius: 5px;}
.page_list img{top:0;left:0;right:0;bottom:0;margin:auto;max-height:100 %;max-width:100 % ;}/* 圖置中 2  */
.page_list .font1{color: #696969;font-size: 0.8em;line-height: 1.5em;letter-spacing: 0.1em;}
.page_list .inner-p{margin-bottom:0.5em;padding:0.3em;}
.page_list .inner-p .a1{color: #696969;}
.page_list .inner-p .spn2{padding-bottom: 1.3em;}
.page_list .spn1{padding-bottom: 0.8em;}
.page_list .spn1 button{background-color: #ca0000;border-color: transparent;}
.page_list .box1{border:1px solid #E1E1E1; border-radius:4px;}
.page_list .box1 .title{height:50px;overflow:hidden;padding-bottom: 0.8em;}
.page_list .box1 .title1{height:35px;overflow:hidden;padding-bottom: 0.8em;}
/*********************************************************************************/
.post_list{}
.post_list img{top:0;left:0;right:0;bottom:0;margin:auto;max - height:100 %;max - width:100 % ;}/* 圖置中 2  */
.post_list .hline{
     border: 1px solid #E1E1E1;
     overflow: hidden;
     border-radius: 4px;
     position: relative;
     padding: 0.5em;
     margin-bottom: 10px;
}
.post_list .inner-q{margin-bottom: 0.8em;padding:0.3em 0.3em 0 0.3em;}
.post_list .inner-q button{background-color:#ca0000;border-color: transparent;}
.post_list .inner-q .btnton2{padding:0.5em 2em 0.5em 2em;}
.post_list .inner-q .fre{}
.post_list .inner-q .fre P{line-height:1.5em;text-align:justify; }
.post_list .inner-q .fre .font9{line-height:1em;text-align:justify;color:#505050;}
.post_list .font1{font-weight: 600;font-size:1.3em; letter-spacing:0.1em;color:#333333;}
.post_list .font2{font-weight: 600;letter-spacing:0.1em;color:#ca0000;}
.post_list .font3{text-decoration: line-through; color: #919191;}
.post_list p{padding-bottom: 0.8em;}
.post_list .bottmli{border-bottom: 1px solid #E1E1E1;}
.post_list button{margin-bottom: 10px;}
.post_list .font4{font-weight: 600;line-height: 1.8em;font-size:1.3em;letter-spacing:0.1em;background-color:#e5e5e5;;border-radius: 4px;}
.post_list .font5{line-height: 1.3em;font-size:1em;letter-spacing:0.1em;}
.post_list .font7{font-size:1.3em;text-align:left;color:#020202;line-height:1.5em;letter-spacing:0.1em;}
.post_list .font8{padding:0.3em 1.3em;line-height:1.3em;text-align:justify; }
.post_list .font9{font-weight: 600;font-size:1.3em;letter-spacing:0.1em;}
.post_list .sider_clr{padding-left:0px;}
.post_list .sider_clr .img1{width:150px;display:block; margin:auto;}
.post_list .sider_clr .spn4{padding-top:0.6em;}
.post_list .sider_clr .fbb{text-align:left;padding-left:0.5em;}
.post_list .sider_clr .fbb .font10{font-weight: 400;font-size: 1em;color: rgb(151, 151, 151);padding:0 0 0.5em 0; }
/*********************************************************************************/
/* login, regedit */
/*********************************************************************************/
.reg_list {margin-top:0; padding-top:0}
.reg_list .hightline{border: 1px solid #E1E1E8;padding: 10px 14px;border-radius:5px;}
.reg_list .hline1{margin-bottom:10px; padding: 10px; border:1px solid #E1E1E8; border-radius:5px;background-color: #ede5e5;}
.reg_list .hline2{margin:10px 0 10px 0; padding: 10px; border:1px solid #E1E1E8; border-radius:5px;background-color: #f8f8f8;}
.reg_list .font1{font-weight: 500;line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 標題 */margin-bottom:5px;}
.reg_list .font2{font-weight: 600;font-size: 1.2em;line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 標題 */margin-bottom:10px;}
.reg_list .font3{font-weight: 600;font-size: 1em;line-height: 1em;/* 行距 */letter-spacing: 0.2em;}
.reg_list .font4{font-size:1.3em;line-height:1.5em;letter-spacing:0.1em;}
.reg_list .lines{font-size: 16px; line-height: 32px;/* 行距 */letter-spacing: 2px;/* 間距 */}
.reg_list .col-sm-offset-1{padding: 0 0 1em 0}
.reg_list .col-sm-12{padding: 0 0 1em 0}
.reg_list textarea, select, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.reg_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.reg_list .top_banner_cont{
    /*- 畫小框右邊較粗 -*/
    margin: 0 0 10px;/*- 邊界 -*/
    padding: 1em;
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size:1.3em;
    letter-spacing: 0.2em;
    float: left;
    text-align: left;
    background: none repeat scroll 0% 0% #FFF;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: #DEDEDE;
    overflow: hidden;
    border-radius: 5px;
}
.reg_list .top_banner_cont h3{font-size: 1.5em;margin-top: 20px;margin-bottom: 10px;}
.reg_list .input25{width: 250px; height:35px;margin-bottom: 0.5em;}
.reg_list .input25-1{width: 250px; height:35px;margin: 10px 0px;}
.reg_list button{background-color: #676767; color: #fff;}
.reg_list .button1{background-color: #5ab6d1; color: #fff;}
.reg_list .spn1{margin-bottom: 0.5em;}
.reg_list .h4_colo{background-color:#fff4f4;color:#ff4500;border: 1px solid #ff8456;border-radius:5px;padding: 10px 14px;}
/*********************************************************************************/
/* member la-admin*/
/*********************************************************************************/
.mem_list{font-size:0.8em;}
.mem_list a{color: #313131;}
.mem_list .hline{
    border: 1px solid #E1E1E8;padding: 9px 14px; margin:0 0 10px;border-radius: 5px;}
.mem_list .hline1{margin:0 0 10px 10px; padding: 10px; border:1px solid #cbcbcb; border-radius:5px;background-color: #ededed;}
.mem_list .hline2{margin:5px; padding: 10px; border:1px solid #cbcbcb; border-radius:5px;background-color:#ededed;}
.mem_list .title2{margin-bottom:0.5em;padding:0.5em;font-weight: 600;font-size:1.5em;letter-spacing: 0.1em;}
.mem_list .font1{line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 */;}
.mem_list .font2{color:#ff4500;font-size:1.2em;}
.mem_list .font3{font-weight:600;font-size:1.2em;line-height: 1.5em;/* 行距 */letter-spacing: 0.2em;/* 間距 */;}/*標題*/
.mem_list .font7{font-size:1.2em;line-height: 1.2em;letter-spacing: 0.1em;}/*提醒用*/
.mem_list thead{background-color: #e5e5e5;}
.mem_list .top_banner_cont{
    /*- 右邊較粗標題 -*/
    margin: 0 0 10px;/*- 邊界 -*/
    padding: 1em;
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size:1.5em;
    letter-spacing: 0.2em;
    float: left;
    text-align: left;
    background: none repeat scroll 0% 0% #FFF;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: #DEDEDE;
    overflow: hidden;
    border-radius: 5px;
}
.mem_list select, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.mem_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.mem_list .input5{width: 50px; height:30px;margin:0 0 10px 0;padding-left:5px;}
.mem_list .input10{width: 100px; height:30px;margin:0 0 10px 0;padding-left:5px;}
.mem_list .input15{width: 150px; height:35px;margin:0 0 10px 0;padding-left:5px;}
.mem_list .input25{width: 250px; height:35px;margin:0 0 0.8em 0;padding-left:5px;}
.mem_list .input25-1{width: 250px; height:35px;margin: 10px 0px;padding-left:5px;}
.mem_list .input35{width: 350px; height:35px;margin:0 0 0.8em 0;padding-left:5px;}
.mem_list .input45{width: 450px; height:35px;margin: 10px 0px;padding-left:5px;}
.mem_list button{background-color: #676767; color: #fff;}
.mem_list .button1{background-color: #5ab6d1; color: #fff;}
.mem_list textarea{margin-bottom: 0.8em;padding:0.5em}
.mem_list .mem_counter1{padding: 5px; margin: 10px;}
.mem_list .mem_counter2{padding: 5px; margin: 0 10px 0 0;}
.mem_list .spn1{margin-bottom: 0.5em;}
.mem_list .inner{}
.mem_list .inner{margin-bottom: 0.5em;}
.mem_list .inner .font4{font-size:0.8em;line-height: 1em; padding-bottom: 0.5em;}
.mem_list .inner .font5{font-weight: 600;font-size:1.2em;line-height: 1.5em;letter-spacing: 0.2em;padding:0 0 0 1em;}/*標題*/
.mem_list .inner .font6{font-size:1em;line-height: 1em; margin-bottom: 0.5em;}/*標題*/
.mem_list .inner, .col-sm-6, .col-sm-8{padding: 0;}
/* 頁籤 */
.mem_list .pagenav {font-size: 12px;float: right;margin-top: 2px;margin-right: 7px;}
.mem_list .pagenav a {color: #5F676A;float: left;padding: 2px 3px;margin: 0px 2px;text-decoration: none;}
/*********************************************************************************/
/* order cart*/
/*********************************************************************************/
.ord_list{}
.ord_list .box1{}
.ord_list .box1 .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5{padding:0;}
.ord_list .con{padding-top: 30px;}
.ord_list img{max-width:100px;border: 1px solid #E1E1E8;margin: 5px 0px;overflow:hidden;}
.ord_list .img_li{max-width:100%;border:none; margin:0;padding-top:5em;}
.ord_list a{color: #313131;}
.ord_list .font3{font-weight: 600;line-height: 1.8em;font-size:1.2em;letter-spacing:0.1em;}
.ord_list .font3 small{font-size:0.9em;color:#696969;}
.ord_list .font4{font-weight: 600;line-height: 1.8em;font-size:1.1em;letter-spacing:0.1em;background-color: #fff5bb;border-radius: 4px;}
.ord_list .font5{font-size:0.9em;}
.ord_list .font6{font-weight: 600;font-size:1em;}
.ord_list .font7{font-size:1em;line-height: 1.8em;}
.ord_list .font8{font-size:0.9em;color:rgba(255, 59, 59, 0.84);}
.ord_list .font-fa{display: inline-block;font-family: FontAwesome;line-height: 1;font-size:large;font-weight: bold;}
.ord_list .font-fa1{font-weight: 600;line-height: 1.8em;font-size:1.1em;letter-spacing:0.1em;}
.ord_list .a2{color: #fff;}
.ord_list .spn1{margin-bottom: 0.8em;}
.ord_list .spn2{margin: 0.5em 0 0.5em 0;}
.ord_list .morshp{
    border: 1px solid #E1E1E8;
    text-align: center;
    width: 200px;
    height: 220px;
    overflow: hidden;
    padding: 5px;
    font-size: 15px;
}
.ord_list .hline{margin:0 0 10px 0;padding:9px 14px;border:1px solid #E1E1E8;border-radius:3px; }
.ord_list .hline1{margin-bottom:10px; padding:10px; border:1px solid #E1E1E8; border-radius:3px; }
.ord_list select, textarea, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.ord_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.ord_list .input25{mix-width:250px; height:35px;}
.ord_list .input25-1{mix-width: 250px; height:35px;margin: 10px 0px;}
.ord_list .input25-3{width: 300px; height:35px;margin: 10px 0px;}
.ord_list button{background-color: #676767; color: #fff;}
.ord_list .button1{background-color: #5ab6d1; color: #fff;}
.ord_list .cart_remove{margin-top: 3px;padding-right: 10px;cursor: pointer;color: #E20D21;}
.ord_list .cart_total{padding:1em 0.3em 0.5em 0.3em;font-size: 0.5cm;color: #f00;}
.ord_list .cart_inner{margin-bottom: 0.8em;}
.ord_list textarea{width: 300px;}