    /* 頁籤 */
	.navla_tab {
		clear: left;
		margin: 0;
	}
	.navla_tab ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.navtabs {
		width: 100%;
		height: 1.8em;
		border-bottom: 1px solid #d8d8d8;
		border-left: none;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
	}
	ul.navtabs li {
		float: left;
		height: 1.8em;
		line-height: 30px;
		overflow: hidden;
		position: relative;
		margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
		border: 1px solid #fff;
		border-left: none;
        border-bottom: none;
		background: #9b9b9b;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
	}
	ul.navtabs li a {
		display: block;
		padding: 0 0.5em 0.5em 0.5em;
		color: #000;
		text-decoration: none;
        line-height:30px;
        color: #fff;
	}
	ul.navtabs li a:hover {
        background: #292929;
        border-bottom: none;
        border-top-left-radius:5px;
        border-top-right-radius:5px;

	}
	ul.navtabs li.active  {
		background:#c80000;
        border: 1px solid #d8d8d8;
		border-bottom: 1px solid #c80000;
        border-top-left-radius:5px;
        border-top-right-radius:5px;

	}
	ul.navtabs li.active a:hover {
		background: #c80000;
	}  
	div.tab_container {
		clear: left;
		width: 100%;
		border: 1px solid #d8d8d8;
		border-top: none;
		background: #fff;
        /*border-top-left-radius:5px;*/
        /*border-top-right-radius:5px;*/
        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
        box-shadow: 0 0 10px #e3e3e3;
        line-height: 1em;/* 行距 */letter-spacing: 0.1em;
	}
	div.tab_container .tab_content {
		padding:0.3em 0.3em;
	}
	div.tab_container .tab_content h2 {
		margin: 0 0 20px;
	}