@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

/*
	Verti by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background-color:		#f7f7f7;
		background-image:		-moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		
		background-image:		-o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		background-image:		-ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),		url('images/bg01.png');
		background-image:		linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0)),			url('images/bg01.png');
		background-position:	top left,														top left;
		background-repeat:		repeat-x,														repeat;
		background-size:		100% 30em,														auto;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
		
	body,input,select,textarea
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		color: #696969;
		font-weight: 300;
	}
	
	a
	{
		color: #0090c5;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}
	
	h1, h2, h3, h4, h5, h6
	{
		color: #444;
		font-weight: 800;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
		outline: 0;
	}

	b, strong
	{
		font-weight: 600;
		color: #444;
	}
	
	i, em
	{
		font-style: italic;
	}
	
	br.clear
	{
		clear: both;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #eee;
	}
	
	blockquote
	{
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}	
	
	p, ul, ol, dl, table
	{
		margin-bottom: 0 0 2em 0;
	}
	
	.quote-list
	{
	}
	
		.quote-list li
		{
			padding: 1em 0 1em 0;
			overflow: hidden;
		}
		
		.quote-list li:first-child
		{
			padding-top: 0 !important;
			border-top: 0 !important;
		}

		.quote-list li:last-child
		{
			padding-bottom: 0 !important;
			border-bottom: 0 !important;
		}

			.quote-list li img
			{
				float: left;
			}

			.quote-list li p
			{
				
				font-size: 1.2em;
				
			}
			
			.quote-list li span
			{
				display: block;
				color:#696969;
				font-size: 0.9em;
				font-weight: 400;
			}
	/* Section/Article */
	
		section,
		article
		{
			
		}
		
			section > :last-child,
			article > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}

		header
		{
			margin: 0 0 2em 0;
		}
		
			header h2, header h3
			{
				margin: 0 0 0.25em 0;
			}
			
			header p
			{
				margin: 0;
			}

		footer
		{
			margin: 2.5em 0 0 0;
		}

	/* Forms */

		form
		{
		}
		
			form label
			{
				display: block;
				font-weight: 800;
				margin: 0 0 1em 0;
				font-size: 0.8em;
				color: #444;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				width: 100%;
				
				
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					border-color: #0090c5;
				}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select
			{
				line-height: 3em;
				padding: 0 1em;
			}
				
			form textarea
			{
				min-height: 9em;
				padding: 1em;
			}

			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color: #555 !important;
			}

			form :-moz-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-placeholder
			{
				color: #555 !important;
			}

			form :-ms-input-placeholder
			{
				color: #555 !important;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	/* Tables */
	
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}

				table.default tr
				{
					border-top: solid 1px #eee;
				}

					table.default tr:first-child
					{
						border-top: 0;
					}
			
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					padding: 0.5em 1em 0.5em 1em;
					font-weight: 800;
					margin: 0 0 1em 0;
				}
			
				table.default thead
				{
					background: #404248;
					color: #fff;
				}
				
				table.default tfoot
				{
				}
				
				table.default tbody
				{
				}

	/* Image */

		.image
		{
			display: inline-block;
			outline: 0;
		}
		
			.image img
			{
				display: block;
				width: 100%;
				border-radius: 8px;
				 max-height:100%;
			}

			.image.fit
			{
				display: block;
				width: 100%;
			}
		
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2.5em 0;
			}
		
			.image.left
			{
				
			}
		
			.image.centered
			{
				display: block;
				margin: 0 0 2.5em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #808080;
			color: #fff;
			text-decoration: none;
			border-radius: 6px;
			font-weight: 800;
			outline: 0;
			border: 0;
			cursor: pointer;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
		}
		
			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background: #808080;
			}
		
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background: #20b0e5;
			}
		
			.button.icon
			{
			}
			
				.button.icon:before
				{
					position: relative;
				}
		
			input[type="button"].alt,
			input[type="submit"].alt,
			input[type="reset"].alt,
			.button.alt
			{
				background: #f1f1f1;
				background: rgba(0,0,0,0.05);
				color: #444;
			}

				input[type="button"].alt:hover,
				input[type="submit"].alt:hover,
				input[type="reset"].alt:hover,
				.button.alt:hover
				{
					background: #e8e8e8;
					background: rgba(0,0,0,0.085);
				}

				input[type="button"].alt:active,
				input[type="submit"].alt:active,
				input[type="reset"].alt:active,
				.button.alt:active
				{
					background: #e4e4e4;
					background: rgba(0,0,0,0.15);
				}

	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}

			ul.actions
			{
			}

				ul.actions li
				{
					display: inline-block;
					padding: 0 0 0 0.25em;
					margin: 0 0 0 0.25em;
				}
				
					ul.actions li:first-child
					{
						margin-left: 0;
						padding-left: 0;
					}
				
			ul.menu li
			{
				border-left: solid 1px #e0e0e0;
				display: inline-block;
				padding: 0 0 0 0.75em;
				margin: 0 0 0 0.75em;
			}

				ul.menu li:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		ol
		{
		}	

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}
	
	/* Box */	
	
		.box
		{
			background: #fff;
			border-radius: 6px;
			box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
			box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
		}
		.boxes
		{
			
		}
			.boxes.excerpt
			{
				position: relative;
				overflow: hidden;
			}

				.boxes.excerpt header
				{
					margin: 0 0 1em 0;
				}

				.boxes.excerpt .image
				{
					margin-bottom: 0;
				}

				.boxes.excerpt p
				{
					margin-bottom: 0;
				}

			.boxes.feature1
			{
				text-align: center;
			}
			
				.boxes.feature1 header.first
				{
				}
			
					.boxes.feature1 header.first h2
					{
						font-size: 2.5em;
					}
					
					.boxes.feature1 header.first p
					{
						font-size: 1.2em;
					}
					
				.boxes.feature1 header.second
				{
					position: relative;
					display: inline-block;
					text-align: left;
					margin: 0 auto;
					white-space: nowrap;
					left: 24px;
				}

					.boxes.feature1 header.second p
					{
						line-height: 1em;
					}
				
					.boxes.feature1 header.second:before
					{
						font-size: 48px;
						position: absolute;
						right: 100%;
						margin-right: 18px;
						opacity: 0.5;
						bottom: -4px;
					}
					
			.boxes.feature2
			{
				text-align: center;
			}
			
			.boxes.article-list
			{
			}
			
				.boxes.article-list article
				{
					border-bottom: solid 1px #dbdbdb;
					margin: 0 0 2.75em 0;
					padding: 0 0 2.75em 0;
				}

				.boxes.article-list article:last-child
				{
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/

	.widget
	{
	}

		.widget.links
		{
		}

		.widget.thumbnails
		{
		}

			.widget.thumbnails .grid
			{
				margin-bottom: 2.5em;
			}

		.widget.contact
		{
		}
		
			.widget.contact ul
			{
				overflow: hidden;
				position: relative;
				left: -4px;
				top: 4px;
				margin-bottom: 1.5em;
			}
			
				.widget.contact ul li
				{
					display: inline-block;
					margin-right: 0.25em;
				}

					.widget.contact ul li a
					{
						display: inline-block;
						width: 2.5em;
						height: 2.5em;
						text-align: center;
						line-height: 2.5em;
						border-radius: 0.35em;
						outline: 0;
						opacity: 0.75;
						text-decoration: none;
						background: #222222;
						-moz-transition: background-color .25s ease-in-out;
						-webkit-transition: background-color .25s ease-in-out;
						-o-transition: background-color .25s ease-in-out;
						-ms-transition: background-color .25s ease-in-out;
						transition: background-color .25s ease-in-out;
					}
					
						.widget.contact ul li a:before
						{
							color: #f3f3f3;
							font-size: 1.75em;
							line-height: 1.5em;
						}

						.widget.contact ul li a:hover
						{
							background: #444444;
						}
					
						.widget.contact ul li a:active
						{
							background: #666666;
						}
				
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
	}
	
	#footer-wrapper
	{
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		overflow: hidden;
	}

		#logo h1
		{
			background: #ff4486;
			color: #fff;
			border-radius: 6px;
			font-family: 'Oleo Script', serif;
			font-weight: 400;
		}
		
		#logo span
		{
			font-weight: 800;
		}
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
.foot.footer{background-color:#F90;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;
        padding:1em;color: #f7f0f0;}
.foot.footer .fonts{font-size: 15px; /* 設定文字大小 */line-height: 32px;/* 設定文字行距 */
       letter-spacing: 1px;/* 設定文字間距 */}
	
		#footer a
		{
			color: inherit;
		}
	
	#copyright
	{
		color: #aaa;
	}
	
		#copyright a
		{
			color: inherit;
		}