
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo{float: left;margin: 6px 10px 0 50px;padding: 0 0.2em 0 0.2em;}
#logo2{right: 200px;position: absolute;position: absolute;top:60px;margin: 5em 2.5em 0 0;}
#logo_mob{left:0px;margin: 6px 0 5px 0;padding: 0 0.2em 0 0.2em;}
#logo_mob img{display:block; margin:auto;}
.top_bar{
    /*- 右邊較粗標題 -*/
    margin-top:3em;/*- 邊界 -*/
    padding: 0.3em;
    width: 100%;
    letter-spacing: 0.1em;
    float: left;
    background: none repeat scroll 0% 0% #f4f1e8;
    border-color: #DEDEDE;
    overflow: hidden;
    border-radius: 5px;
}
.top_bar .font1{color: #ff0000;font-size:1.3em;}
.top_bar .font2{padding:0.3em 1em 0.3em 1em;}
.top_bar .font3{padding:0.2em 0 0 0;background-color:#fff;}
.top_bar a{color: #494949;text-align: center;}
.top_bar .read2{float: left;}
.top_bar .read2 img {width: 53px;}
.top_bar .read3{float: left;width: 100%;background-color:#ECE5D1;}
.top_bar .spen1{padding-right: 1em;}
.top_bar1 {}
.top_bar1 .read4{position: absolute;right:0px;}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#top-bar{
     padding-bottom:0.5em;
	 width: 100%;
     background-image: url(../img/line_nav01.png);
	 /* background: #fff; */
	 position:fixed;
	 top:-65px;
	 /* CSS3 陰影 */

}
#top-bar #menut{margin:0.5em 0 0.5em 0;border: 1px solid #dedede;border-radius:3px;}
#top-bar ul{}
#top-bar ul li{float: left;line-height: 2.5em;}
#top-bar ul li a{color:#020203;}
.topbar_foot{padding-right: 15px;padding-left: 0;}
.topbar_foot .nav > li > a {color: #020202;padding:0;}
.topbar_foot .nav .mread{padding:0.8em 0.3em 0.3em 0.3em;}
.topbar_foot .nav .mimg{padding:0.5em 0 0.1em 0.4em;}
/*********************************************************************************/
/* header-nav bar */
.top_bar2 {height:2em;position: relative;}
.top_bar2 .read5{position: absolute;right:1.3em;}
.top_bar2 ul{}
.top_bar2 ul li{float: left;line-height:2em;padding-left:0.5em;}
.top_bar2 ul li a{color:#fff;font-size:0.9em;font-weight: 800;border-radius:3px;padding:0.3em;}
.top_bar2 ul li:hover{}
.top_bar2 ul li:hover a{background:#F4F1E8;color:#020202;}
.top_bar2 ul li.active{}
.top_bar2 ul li.active a{background:#F4F1E8;color:#020202;}
/*********************************************************************************/
#nav{
		position: absolute;
		right: 15px;
		top: 0;
		font-size: 0.9em;
        margin-top: 4.3em;
	}	
#nav ul{}
#nav ul li{float: left;line-height: 2.5em;padding-left: 0.5em;}
#nav ul li a,
#nav ul li span{
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #020203;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 0.5em 0.5em 0.5em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
}
#nav ul li > ul{display: none;}
#nav ul li:hover{}
#nav ul li:hover a,
#nav ul li:hover span{background: #fff;}
#nav ul li.active{}
#nav ul li.active a,
#nav ul li.active span{background: #fff;}
#nav ul li.current{}
#nav ul li.current a{background: #444;color: #fff;}
.nav_font2{font-weight: 800;font-size: 1em; text-transform: none; color: #666;}
.navbar-default .navbar-nav > li > a {color: #020202;padding:0;}
.navbar-default .navbar-nav .mread{padding:0.8em 0.3em 0.3em 0.3em;}
.navbar-default .navbar-nav .mimg{padding:0.5em 0 0.1em 0.4em;}
.navbar-default .navbar-collapse{padding-right: 15px;padding-left: 0;}
.nav > li > a {color: #020203;}
/*********************************************************************************/
/*Banner 大圖*/
/*********************************************************************************/
.abgne-news-scroll a img {border: none;max-width: none;}
.abgne-news-scroll {width: 100%;height: 285px;position: relative;overflow: hidden}
.abgne-news-scroll ul, li {margin: 0;padding: 0;list-style: none;}
.abgne-news-scroll ul {position: absolute;margin: 0;}
.abgne-news-scroll li {clear: left;padding: 0px;height:133px;}
.abgne-news-scroll li a {float: left;color:#696969;}
.abgne-news-scroll li a img {border-radius:4px;}
.abgne-news-scroll li div {float: left;width: auto;margin-left: 0px;font-size: 12px;}
/*********************************************************************************/
/*index features 特點*/
/*********************************************************************************/
.margin-bottom-20 {margin-bottom: 20px;}
.font1{line-height: 1em;/* 行距 */letter-spacing: 0.1em;/* 間距 */;}
.home_list{}
.home_list .spn1{padding-bottom: 1em;}
.home_list .art1 .thumbnail{background-color:transparent;border:none;}
.home_list .art1 .thumbnail img{max-width:120px;padding-bottom: 20px;}
.home_list .art1 .thumbnail p{color:#fff;}
.home_list .art1 .thumbnail .font1{font-size:1.5em;letter-spacing:0.5em;}
.home_list hr{background-image: url(../img/line_nav01.jpg);margin-bottom: 15px;border:0; height:3px;/* IE6 */}
.home_list .font2{font-size: 1.2em;font-weight:600;letter-spacing:0.2em;text-align:left;color: #ffffff;line-height:1.7em;}
/*********************************************************************************/
/*Article ,text-align:justify->左右齊行*/
/*********************************************************************************/
.article_list{}
.article_list .hline{margin-bottom:0.5em;padding:0.4em;border:1px solid #E1E1E1;border-radius:4px;}
.article_list .hline1{border:5px solid #656565;padding:0.5em;}
.article_list .hline2{border-left-style:solid;border-width:5px;border-color:#656565;}
.article_list .lead{padding:1em 1em 12em 0.3em;}
.article_list .list-group{padding-left: 0px;margin-bottom: 20px;}
.article_list .list-group .font1{font-size: 1.2em;font-weight:600;letter-spacing:0.2em;text-align:center;line-height:1.7em;}
.article_list .thumbnail{padding: 0px; border:none;}
.article_list .thumbnail img{width: 100%;}
.article_list .thumbnail .font2{font-size:0.8em;}
.article_list .thumbnail .caption-full{padding: 9px;color: #333;}
/*********************************************************************************/
/* 文章相關css */
.latestpic{
 border:1px solid #000; width:850px; height:440px;overflow:hidden
 } 
.latestpic img{
max-width:300px;_width:expression(this.width > 850 ? "850px" : this.width);
} 

.indexpic{ border:1px solid #000; width:850px; height:140px;overflow:hidden} 
.indexpic img{max-width:300px;_width:expression(this.width > 850 ? "850px" : this.width);} 

.loadingpic{ border:1px solid #000; width:50px; height:40px;overflow:hidden} 
.loadingpic img{max-width:300px;_width:expression(this.width > 50 ? "50px" : this.width);} 

.title_style{font-size: 30px;line-height: 35px;letter-spacing: 2px;} 
.edit_style{font-size: 18px;line-height: 35px;letter-spacing: 3px;} 
.comment_style{font-size: 18px;line-height: 35px;letter-spacing: 3px;} 
