/* Datewheel overlay */
.dw {
    min-width:170px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    color: #000;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    text-shadow: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.dwi {
    position: static;
    margin: 0;
    display: inline-block;
}
.dwwr {
    zoom: 1;
    padding: 0 0;
    text-align:center;
}
/* Datewheel overlay background */
.dwo {
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .7;
    filter:Alpha(Opacity=70);
}
/* Bubble positionings */
.dw-bubble-bottom
{
    margin-top:0;
}
.dw-bubble-top
{
    margin-top:0;
}
.dw-bubble .dw-arrw
{
    position:absolute;
    left:0;
    width:100%;
}
.dw-bubble-top .dw-arrw
{
    bottom:0;
}
.dw-bubble-bottom .dw-arrw
{
    top:0;
}
.dw-bubble .dw-arrw-i
{
    margin:0 0;
    position:relative;
    height:0px;
}
.dw-bubble .dw-arr
{
    display:block;
}
.dw-arr
{
    display:none;
    position:absolute;
    left:0;
    width:0;
    height:0;
    border-width:18px 18px;
    border-style:solid;
    margin-left:0;
}
.dw-bubble-bottom .dw-arr
{
    top:0;
    border-color:transparent transparent #fff transparent;
}
.dw-bubble-top .dw-arr
{
    bottom:0;
    border-color:#fff transparent transparent transparent;
}
/* Datewheel wheel container wrapper */
.dwc {
    float: none;
    margin: 0;
    padding-top: 0;
    display:inline-block;
}
.dwcc {
    clear: both;
}
/* Datewheel label */
.dwl {
    text-align: center;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    width: 100%;
}
/* Datewheel value */
.dwv {
    padding: 0;
}
/* Datewheel wheel container */
.dwrc {
}
.dwwc {
    margin: 0;
    padding: 0;
    position: relative;
    background: #000;
    zoom:1;
}
/* Datewheel wheels */
.dwwl {
    margin: 0 0;
    position: relative;
    background: #888;
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.35, #333),color-stop(0.50, #888),color-stop(0.65, #333),to(#000));
    background: -moz-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
    background: -ms-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
    background: -o-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
    z-index:1010;
}
.dww {
    margin: 0 0;
    overflow: hidden;
    position: relative;
}
.dwsc .dww {
    color: #fff;
    background: #444;
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.45, #444),color-stop(0.55, #444),to(#000));
    background: -moz-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
    background: -ms-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
    background: -o-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
}
.dww ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}
.dww li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    white-space: nowrap;
    text-shadow: 0 1px 1px #000;
    opacity: .3;
    filter: Alpha(Opacity=30);
}
/* Valid entry */
.dww li.wheelItem {
    opacity: 1;
    filter: Alpha(Opacity=100);
}
/* Hidden entry */
.dww li.dw-h {
    visibility: hidden;
}
/* Wheel +/- buttons */
.dwwb {
    position: absolute;
    z-index: 4;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
}
.dwa .dwwb {
    opacity: 0;
}
.dwwbp {
    top: 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 40px;
}
.dwwbm {
    bottom: 0;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    font-size: 32px;
    font-weight: bold;
}
.dwpm .dwwc {
    background: transparent;
}
.dwpm .dww {
    margin: 0;
}
.dwpm .dww li {
    text-shadow: none;
}
.dwpm .dwwol {
    display: none;
}
/* Datewheel wheel overlay */
.dwwo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; 
}
/* Background line */
.dwwol {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
}
/* Datewheel button */
.dwbg .dwb {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 0;
    margin: 0 0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:0 -1px 1px #000;
    border-radius: 5px;
    -webkit-border-radius:5px;
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
    color: #fff;
    background:#000;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5, #000),color-stop(0.5, #6e6e6e));
    background:-moz-linear-gradient(#6e6e6e 50%,#000 50%);
    background:-ms-linear-gradient(#6e6e6e 50%,#000 50%);
    background:-o-linear-gradient(#6e6e6e 50%,#000 50%);
    cursor:pointer;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
/* Datewheel button container */
.dwbc {
    padding: 0 0;
    text-align: center;
    clear: both;
}
/* Datewheel button wrapper */
.dwbw {
    display: inline-block;
    width: 50%;
    position:relative;
    z-index:1010;
}
.dwbc-p .dwbw
{
    width:33%;
}
/* Hidden label */
.dwhl {
    padding-top: 0;
}
.dwhl .dwl {
    display: none;
}
/* Backgrounds */
.dwbg {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.dwbg .dwpm .dww {
    color: #000;
    background: #fff;
    border: 1px solid #AAA;
}
.dwbg .dwwb {
    background: #ccc;
    color: #888;
    text-shadow: 0 -1px 1px #333;
    box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
}
.dwbg .dwwbp {
    background: -webkit-gradient(linear,left bottom,left top,from(#bdbdbd),to(#f7f7f7));
    background: -moz-linear-gradient(#f7f7f7,#bdbdbd);
    background: -ms-linear-gradient(#f7f7f7,#bdbdbd);
    background: -o-linear-gradient(#f7f7f7,#bdbdbd);
}
.dwbg .dwwbm {
    background: -webkit-gradient(linear,left bottom,left top,from(#f7f7f7),to(#bdbdbd));
    background: -moz-linear-gradient(#bdbdbd,#f7f7f7);
    background: -ms-linear-gradient(#bdbdbd,#f7f7f7);
    background: -o-linear-gradient(#bdbdbd,#f7f7f7);
}
.dwbg .dwb-a {
    background:#3c7500;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5, #3c7500),color-stop(0.5, #94c840));
    background:-moz-linear-gradient(#94c840 50%,#3c7500 50%);
    background:-ms-linear-gradient(#94c840 50%,#3c7500 50%);
    background:-o-linear-gradient(#94c840 50%,#3c7500 50%);
}
.dwbg .dwwl .dwb-a {
    background:#3c7500;
    background:-webkit-gradient(linear,left bottom,left top,from(#3c7500),to(#94c840));
    background:-moz-linear-gradient(#94c840,#3c7500);
    background:-ms-linear-gradient(#94c840,#3c7500);
    background:-o-linear-gradient(#94c840,#3c7500);
}
