/*--設定每個css沒有間距--*/
html,body,div,span,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}
html,
body{height: 100%;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;font-size: 1.0em;}

/* 連結變換 */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* 平版吋以下手機 */
@media only screen and (max-width: 765px) {
.desktop {display: none;}
.navbar-default {background-color: #F8F8F8 !important;border-color: #E7E7E7 !important;}
} 
/*---若瀏覽區域的寬度大於 641 像素，則下方的CSS描述就會立即被套用---*/
@media only screen and (min-width: 765px){
.mobile {display: none;}
/*********************************************************************************/
/* Header Nav                                                                    */
/*********************************************************************************/
/*.headnav{background-image: url(../img/line_nav01.png);margin-bottom: 15px;}背景*/
/*.headnav2{border-width:9px; border-bottom-style:solid;border-radius: 6px;}*/
}
/*********************************************************************************/
/* Header Nav                                                                    */
/*********************************************************************************/
#header{position: relative;}
.navbar{margin-bottom: 0px;}
.navbar-default {background-color: transparent;border-color: transparent;}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/
#wrap{min-height: 100%;
      height: auto;
      /* negative indent footer by its heigth*/
      margin: 0 auto -60px;
      /* pad bottom by footer height*/
      padding:0px;}
.wrap2{margin:0;padding:0;background: #000 url(../img/breagimg.jpg) center center fixed no-repeat;-moz-background-size: cover;background-size: cover;}
#header-nav{padding: 0 0 0.1em 0;background:#020202;}
#header-wrapper{padding: 0 0 0.1em 0;background:#414141;}
#banner-wrapper{padding: 0 0 0.5em 0;}
#features-wrapper{padding: 0 0 0.5em 0;}
#main-wrapper{padding: 0 0 0.5em 0;}
#footer-wrapper{}
/*********************************************************************************/
/*Nav*/
/*********************************************************************************/
.navbar{min-height: 0;}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
/*********************************************************************************/
/* 尾*/
/*********************************************************************************/
/*  下選單 */
.fot_m{background-color:#020203;color:#ffffff;position:fixed; bottom: 0px;width: 100%}
.fot_m .nav_m{font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
.fot_m .nav_m li{
    width: 50%; 
    float: left;
    line-height: 2em;
    padding-left: 1em;
}
.fot_m .nav_m a{color: #fff;font-size: 1em;font-weight: 600;border-radius: 3px;
  padding: 0.3em;}
.fot_m .nav_m ul li:hover{}
.fot_m .nav_m ul li:hover a{background:#F4F1E8;color:#020202;}
.fot_m .nav_m ul li.active{}
.fot_m .nav_m ul li.active a{background:#F4F1E8;color:#020202;}
.fot_m .nav_m ul li{border-right:#F4F1E8 1px solid; }
/*  滑動至最上面 */
#gott {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: url('../img/tops.png') no-repeat scroll 0% 0% transparent;
    cursor: pointer;
    height: 35px;
    width: 35px;
}