﻿@charset "utf-8";
.mask{margin:0;padding:0;border:none;width:100%;height:100%;
background:#333;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;
top:0;left:0;display:none;}
#LoginBox
{position:absolute;
background:white;width:100%;height:70%;
border:3px solid #444;border-radius:7px;z-index:10000;display:none;
}
.row1{background:#f7f7f7;height:12%;font-weight:bold;color:#666;font-size:20px;}
.close_btn{font-family:arial;font-size:30px;font-weight:700;color:#999;
text-decoration:none;float:right;padding-right:4px;
}
.inputBox{border:1px solid #c3c3c3;padding:1px 3px 6px 3px;border-radius:5px;margin-left:5px;}
#txtName{height:27px;width:230px;border:none;}
#txtPwd{height:27px;width:230px;border:none;}
#loginbtn{color:White;background:#4490f7;
text-decoration:none;padding:3% 0 0 ;text-align:center;
margin-top:40px;display: block;
    width: 100%;
    height: 2.5433333333333333rem;
    line-height: 1.3333333333333333rem;
    color: white;
    background-color: #B02B23;
    font-size: 20px;letter-spacing:3px;
}
#example{filter:alpha(opacity=60);color:white;text-decoration:none;}
.warning{float:right;color:Red;text-decoration:none;
font-size:20px;font-weight:bold;margin-right:20px;display:none;}