﻿<script>
$(".content").on("click", function(e) {
  
  if($(".content").css("transform") == "matrix(1, 0, 0, 1, 0, 0)") {
    $(".content").transition({ 
      transform: 'translateX(200px)' 
    });  
  } else {
    $(".content").transition({ 
      transform: 'translateX(0px)' 
    });
  }

});
</script>
  <link rel="stylesheet" type="text/css" href="test.css" >
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js'></script>
<div class="container">
    <div class="left-menu">
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
      <p>做菜单内容</p>
    </div>
    <div class="content">
	2
      <div style="margin-top: 200px;">
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
        <p>正文内容===================</p>
      </div>
    </div>
  </div>