@media (max-width: 480px) {
    .nav {
        width: 652px;
        height: 60px;
    }
    .logo {
        width: 103px;
        height: 59px;
    }
    .main {
        width: 763px;
        height: 275px;
    }
    .sidebar {
        width: 289px;
        height: 357px;
    }
    .supplement {
        width: 475px;
        height: 355px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .nav {
    }
    .logo {
    }
    .main {
    }
    .sidebar {
    }
    .supplement {
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .nav {
    }
    .logo {
    }
    .main {
    }
    .sidebar {
    }
    .supplement {
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    .nav {
    }
    .logo {
    }
    .main {
    }
    .sidebar {
    }
    .supplement {
    }
}