/*--設定每個css沒有間距--*/
body, div, p, ul, li {margin:0;	padding:0;}

html,
body{height: 100%;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
/* 連結變換 */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* header logo */
.row_header{margin:30px 0 35px 0; height: 60px;position:relative;z-index:1;}
/*position:relative;z-index:1;是最上層*/
/* h1#webtitle{padding:20px 0 0 20px;float:left;}
h1#webtitle a{font-size:36px;color:#555;}
h2#webdesc{float:left;font-size:16px;color:#abcaaa;padding:35px 0 0 10px;} */
.row_header logos{float:left;}
/* header menu Bar*/
.collapse{background-color:#f8f8f8;}
.menu{float:left;
      position:absolute;
      right:0px;
      top:50px;
      text-align:right; }

.row{position:static;}
/*position:relative;是最下層*/
/* 中間外框 */
#wrap{min-height: 100%;
      height: auto;
      /* negative indent footer by its heigth*/
      margin: 0 auto -60px;
      /* pad bottom by footer height*/
      padding: 0 0 60px;}
#content-body, #sidebar{border:solid 1px #333;}
/* 文章 */
.article{margin-bottom: 15px;}
.article h2{font-size: 20px;margin-bottom: 10px;}
.article img {position:absolute;left:50%;top:50%;}
ast.ast5_1{text-decoration:line-through;color:#919191;}
asy.asy5_2{color:#ff045b;}
h4.h4_colo{color:#ff4500;}
h2.h2_colo{color:#ff4500;font-weight: bold;}
h5.bl_colo{color:#3a86ff;}
h5.re_colo{color:#ff4500;}
.ong_colo{color: #f18d00;}
span.re_colo{color:#f00; font-size: 20px;}
.dealprice{padding-left: 10px;color: #BF0000;letter-spacing: -1px;
 font: 36px/40px Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
span.smal{font: 16px/20px Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
.dealsaletext{padding-left: 13px;color: #555;
 font: 12px/32px Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;}
button.larges{font-size: 28px;}

/* 首頁 */
.la_post_list{
    border: 1px solid #E1E1E1;
    width: 275px;
    height: 400px;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background-image:url("../img/productunder.jpg"); !important;
}
.la_post_list_map{border: 1px solid #F90;}/*- 首頁圖框變色 -*/
.la_post_list h2 {
    margin: 7px 0px;
    padding: 5px;
    font-size: 15px;
    overflow: hidden;
    color:#484848;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.la_post_list a{
    font-size: 15px;
    color: #313131;
}
.la_post_list .a1{
    font-size: 15px;
    color: #fff;
}
/*.la_cat {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0px;
}*/
.la_postdate {
    position: absolute;
    font-size: 12px;
    left: 55px;
    bottom: 0px;
    width: 160px;
    color: #555;
    text-align: center;
}
/* post- post_tab */
.posttab_list .hline{
    border: 1px solid #E1E1E1;
    overflow: hidden;
    padding: 10px 10px 40px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 10px;
}
.posttab_list img{border: 1px solid #E1E1E8;}
.posttab_list p{font-size: 15px;}
.posttab_list button{margin-bottom: 10px;}
.posttab_list .cont{text-align: center;}
.posttab_list .textsel{font-size: 15px; /* 設定文字大小 */line-height: 32px;/* 設定文字行距 */
    letter-spacing: 2px;/* 設定文字間距 */}
/* post_tab 間距 */
.posttab{margin: 30px 20px;padding: 0px;}
/* post_tab 字間距 */
.postlines{font-size: 15px; /* 設定文字大小 */line-height: 32px;/* 設定文字行距 */
    letter-spacing: 2px;/* 設定文字間距 */}

/* order */
.ord_list .con{padding-top: 30px;}
.ord_list img{border: 1px solid #E1E1E8;margin: 5px 0px;}
.ord_list .img_li{position: absolute; bottom: 0; right: 50px; border: none;margin-bottom: 50px;}
.ord_list a{color: #313131;}
.ord_list .morshp{
    border: 1px solid #E1E1E8;
    text-align: center;
    width: 200px;
    height: 220px;
    overflow: hidden;
    padding: 5px;
    font-size: 15px;
}
.ord_list .hightline{border:1px solid #E1E1E8;padding:9px 14px;border-radius:3px; margin:0 0 10px 0;}
.ord_list .hline1{margin-bottom:10px; padding:10px; border:1px solid #E1E1E8; border-radius:3px; }
.ord_list select, textarea, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.ord_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.ord_list .input25{width: 250px; height:35px;}
.ord_list .input25-1{width: 250px; height:35px;margin: 10px 0px;}
.ord_list button{background-color: #676767; color: #fff;}
.ord_list .cart_remove{margin-top: 3px;padding-right: 10px;cursor: pointer;color: #E20D21;}
.ord_list .font-fa{display: inline-block;font-family: FontAwesome;line-height: 1;font-size:large;font-weight: bold;}
.ord_list .font-fa1{font-size:0.4cm;font-weight: bold;}
.ord_list .cart_total{padding: 0px 3px;font-size: 0.5cm;}
.ord_list .cart_eco{float:left;}
.ord_list .cart_ecolis{float:left;padding-left:10px;margin-left:10px;}

/* login, regedit */
.reg_list {margin-top:0; padding-top:0}
.reg_list .hightline{border: 1px solid #E1E1E8;padding: 10px 14px;border-radius:5px;}
.reg_list .hline1{margin-bottom:10px; padding: 10px; border:1px solid #E1E1E8; border-radius:5px;background-color: #ede5e5;}
.reg_list .hline2{margin:10px 0 10px 0; padding: 10px; border:1px solid #E1E1E8; border-radius:5px;background-color: #f8f8f8;}
.reg_list textarea, select, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.reg_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.reg_list .top_banner_cont {
    /*- 畫小框右邊較粗 -*/
    margin: 0 0 10px;/*- 邊界 -*/
    width: 100%;
    height: 70px;
    float: left;
    text-align: left;
    background: none repeat scroll 0% 0% #FFF;
    padding: 0 0 0 10px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: #DEDEDE;
    overflow: hidden;
    border-radius: 5px;
}
.reg_list .lines{font-size: 14px; /* 設定文字大小 */line-height: 32px;/* 設定文字行距 */
       letter-spacing: 2px;/* 設定文字間距 */}
.reg_list .input25{width: 250px; height:35px;}
.reg_list .input25-1{width: 250px; height:35px;margin: 10px 0px;}
.reg_list button{background-color: #676767; color: #fff;}
.reg_list .button1{background-color: #5ab6d1; color: #fff;}

/* member la-admin*/
.mem_list a{color: #313131;}
.mem_list .hightline{
    border: 1px solid #E1E1E8;padding: 9px 14px; margin:0 0 10px;border-radius: 5px;}
.mem_list .hline1{margin:0 0 10px 10px; padding: 10px; border:1px solid #cbcbcb; border-radius:5px;background-color: #ededed;}
.mem_list .hline2{margin:5px; padding: 10px; border:1px solid #cbcbcb; border-radius:5px;background-color: #f7f7f7;}
.mem_list thead{background-color: #e5e5e5;}
.mem_list .top_banner_cont{
    /*- 畫小框右邊較粗 -*/
    margin: 0 0 10px;/*- 邊界 -*/
    width: 100%;
    height: 70px;
    float: left;
    text-align: left;
    background: none repeat scroll 0% 0% #FFF;
    padding: 0 0 0 10px;
    border-width: 1px 1px 1px 10px;
    border-style: solid;
    border-color: #DEDEDE;
    overflow: hidden;
    border-radius: 5px;
}
.mem_list select, input{
	transition:all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border:#989898 1px solid;
	border-radius:3px;
	outline:none;
}
.mem_list input:focus{
	box-shadow:0 0 6px rgb(162, 162, 162);
	-webkit-box-shadow:0 0 5px rgb(162, 162, 162);
	-moz-box-shadow:0 0 5px rgb(162, 162, 162);
}
.mem_list .input5{width: 50px; height:30px;margin:0 0 10px 0;}
.mem_list .input15{width: 150px; height:35px;margin:0 0 10px 0;}
.mem_list .input25{width: 250px; height:35px;}
.mem_list .input25-1{width: 250px; height:35px;margin: 10px 0px;}
.mem_list .input35{width: 350px; height:35px;}
.mem_list .input45{width: 450px; height:35px;margin: 10px 0px;}
.mem_list button{background-color: #676767; color: #fff;}
.mem_list .button1{background-color: #5ab6d1; color: #fff;}
.mem_list .mem_counter1{padding: 5px; margin: 10px;}
.mem_list .mem_counter2{padding: 5px; margin: 0 10px 0 0;}
/* 頁籤 */
.pagenav {font-size: 12px;float: right;margin-top: 2px;margin-right: 7px;}
.pagenav a {color: #5F676A;float: left;padding: 2px 3px;margin: 0px 2px;text-decoration: none;}
/* 字間距 */
.lines{font-size: 15px; /* 設定文字大小 */line-height: 35px;/* 設定文字行距 */
    letter-spacing: 3px;/* 設定文字間距 */}
 /* 不跳行 */
.nju{display:inline;overflow:hidden;}

/* 平版吋以下手機 */
@media only screen and (max-width: 765px) {
.desktop {display: none;}
/*.nav_menu {margin-top: 50px;} menu top */
} 
/*---若瀏覽區域的寬度大於 641 像素，則下方的CSS描述就會立即被套用---*/
@media only screen and (min-width: 765px){
.mobile {display: none;}}

/*  滑動至最上面 */
#gott {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: url('../img/tops.png') no-repeat scroll 0% 0% transparent;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

/* 分格線 */
hr { color: #d9d9d9;
background-color: #d9d9d9;
height: 1px;
}

/* 尾*/
.footer{background-color:#F90;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;
        padding:20px;color: #f7f0f0;}